.layout_sidebar{
    background-color: var(--color-primary);
    border-radius: var(--card-padding);
}

.layout_sidebar .menu_item {
    display: flex;
    align-items: center;
    height: 3rem;
    transition: all 300ms ease;
    position: relative;
}

.layout_sidebar i{
    font-size: 1.4rem;
    color: #fff;
    margin-left: 1.5rem;
    position: relative;
    margin-right: 0.8rem ;
}